@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */
   --gray: #d7dedc;
   --white: #fefcfb;
   --blue: #7692ff;
   --french-rose: #9e0031;
   --royal-blue: #002866;
   
  --violet-blue-crayola: hsla(234, 50%, 64%, 1);
  --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
  --white: hsla(0, 0%, 100%, 1);
  --white_a3: hsla(0, 0%, 100%, 0.03);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --cultured: hsla(220, 20%, 97%, 1);
  --lavender-web: hsla(233, 52%, 94%, 1);
  --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --charcoal: hsla(218, 22%, 26%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --light-gray: hsla(0, 0%, 79%, 1);
  --blue-crayola: hsla(219, 72%, 56%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);

  /**
   * typography
   */



  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: 2.2rem;
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  
  --fw-700: 700;

  /** 
   * spacing
   */

  --section-padding: 90px;

  /**
   * box shadow
   */

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /**
   * transition
   */

  --transition-1: 400ms ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: "Montserrat";
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active { overflow: hidden; }

::-webkit-scrollbar {
  display: none;
}
/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 16px; }

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  font-size: 3rem;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) { transform: translateY(-3px); }

.section { padding-block: var(--section-padding); }

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-4); }

.h5 { font-size: var(--fs-6); }

.btn {
  width: max-content;
  display: inline-block;
  color: var(--white);
  background: var(--royal-blue);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--royal-blue);
  transition: var(--transition-1);
}

.btn:hover {
  background: transparent;
  color: var(--royal-blue);
  border: 1px solid var(--royal-blue);
  transform: scale(1.1);
}

.btn-primary {
  width: max-content;
  display: inline-block;
  color: var(--white);
  background: var(--blue);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition-1);
  
}


.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-7);
  text-transform: uppercase;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}

.grid-list {
  display: grid;
  gap: 25px;
}

.w-100 { width: 100%; }






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header.active {
  background-color: var(--white);
  position: fixed;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}



.logo img {
  width: 13rem;
  height: 7rem;
}


header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;

  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
}



nav a {
  margin: 0 1rem;
  color: var(--charcoal);
  text-decoration: none;
}

nav a:hover {
  color: var(--royal-blue);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--first-color);
  visibility: hidden;
  opacity: 0;
  font-size: 3rem;
}


.na-b {
  margin-right: -38rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
header .nav-btn {
  visibility: visible;
  opacity: 1;
}

header nav {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color:  #EFECF9;
  transition: 1s;
}



header .responsive_nav {
  transform: translateY(100vh);
}

nav .nav-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

nav a {
  font-size: 1.5rem;
}

  .na-b {
      display: none;
  }
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
  background-color: var(--gray);
}

.hero .container {
  display: flex;
  gap: 70px;
  
}


.hero-title { 
  color: var(--raisin-black);
  font-size: 5rem;
}

.hero-text {
  font-size: var(--fs-3);
  color: var(--raisin-black);
  margin-block: 24px 36px;
}

.hero__text {
  font-size: var(--fs-4);
  color: var(--raisin-black);
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}


.hero-pic {
  width: 82%;
  margin-top: -30rem;
  margin-bottom: -27rem;
  margin-right: -12rem;
}




@media only screen and (max-width: 990px) {
  .hero-content {
    order: 2;
    text-align: center;
  }

  .hero-pic {
    order: 1;
  }


  .hero-pic {  
    width: 100%;
    margin-right: 0;
    margin-top: -10rem;
    margin-bottom: 0;
  }

  
.hero .container {
  flex-wrap: wrap;   
}
  
}

@media only screen and (max-width: 800px) {
  .hero-pic {  
    width: 100%;
    margin-right: 0;
    margin-top: -8rem;
    margin-bottom: 0;
  }

}


@media only screen and (max-width: 600px) {
  .hero-content {
    order: 2;
    text-align: center;
  }

  .hero-pic {
    order: 1;
  }


  .hero-pic {
  
    width: 100%;
    margin-right: 0;
    margin-top: -7.5rem;
    margin-bottom: 0;
  }

  .hero .container {
    flex-wrap: wrap;     
  } 

  .hero-content {
    margin-top: -4rem;
  }

  
}



/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service { text-align: center; }

.service .section-title { margin-block-end: 50px; }

.service-card {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
}

.service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: var(--violet-blue-crayola);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon ion-icon { --ionicon-stroke-width: 50px; }

.service-card .card-title { margin-block: 16px 10px; }

.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) { opacity: 0.9; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.about-banner img {
  border-radius: 50%;
  width: 100%;
}

.about-banner {
  margin-right: 6rem;
  width: 100%;
}

.about-contents {
  margin-top: 2,4rem;
  margin-bottom: 2.4rem;
}


@media (max-width: 990px) {
  .about-banner {
    margin-right: 0;
  }
}

.about .section-title { margin-block-end: 35px; }



/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/


.feat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feat-head {
  font-size: 3rem;
  font-weight: bold;
  color: #111;
  margin-bottom: 2rem;
  text-align: center;
}

.feats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.feats h4 {
  text-align: center;
  margin-top: 1.5rem;
}

.feat .downer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.downer {
  margin-top: 8rem;
}

.feat img {
  border-radius: 4rem;
}

@media (max-width: 990px) {
  .feats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
}

@media (max-width: 600px) {
  .feats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  
}


/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta { 
  background-color: var(--royal-blue); 
  
}

.cta .container {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cta-title {
  margin-bottom: 4rem;
  margin-top: 4rem;
  color: var(--white);
  font-size: 3rem;
}

.cta .btn {
  background-color: var(--violet-blue-crayola);
  color: var(--white);
  border: none;
}

.section-titler {
  padding: 2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.container .emma {
  display: flex;
  align-self: center;
  margin-bottom: 3rem;
}

@media (max-width: 999px) {
  .cta-title {
    margin-top: 7rem;
  }
}

@media (max-width: 780px) {
  .cta-title {
    margin-top: 4rem;
  }
}



/*-----------------------------------*\ 
 * #Vis And Viss and Blog
\*-----------------------------------*/



.new-hero{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 48px 48px;
  gap: 12px;
}

.left{
  flex: 1;
}

.head_text{
  color: #333;
  font-size: 56px;
  font-weight: 700;
}

.body_text{
  color: #707070;
  font-size: 24px;
  margin: 16px 0 24px;
}

.link{
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.link:hover{
  text-decoration: underline;
}

.right{
  flex: 1;
  padding: 12px;
}


.img{
  width: 90%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width:980px){
  .new-hero{
    flex-direction: column-reverse;
    padding: 48px 24px;
    gap: 24px;
  }

  .head_text{
    font-size: 48px;
  }

  .body_text{
    font-size: 22px;
  }

  .link{
    font-size: 18px;
  }

  .right{
    padding: 0;
  }
}

.blog {
  margin: 4rem;
}

.blogger {
  margin-left: 3rem;
}



/*-----------------------------------*\ 
 * #CONTACT
\*-----------------------------------*/

.contact { margin-bottom: 120px; }

.contact-content { margin-bottom: 50px; }

.contact-title {
  color: var(--royal-blue-dark);
  margin-bottom: 60px;
  text-align: center;
  font-weight: var(--fw-500) !important;
}

.contact-banner img { width: 100%; }

.input-wrapper { margin-bottom: 30px; }

.input-label {
  color: var(--oxford-blue);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-bottom: 10px;
}

.input-field {
  border-bottom: 1px solid var(--platinum);
  padding: 7px 0;
  font-size: var(--fs-6);
}

.input-field::placeholder { color: var(--silver-chalice); }

textarea {
  max-height: 300px;
  min-height: 100px;
  height: 100px;
  resize: vertical;
}

.eligibility-form {
  padding: 2rem;
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.wraps p {
  font-weight: bolder;
  font-size: 2rem;
}

.checker {
  display: flex;
  gap: 2rem;
  align-items: center;
}

input[type=checkbox] {
  position: relative;
  height: 2rem;
  width: 2rem;
  
}


.textarea {
  height: 4rem;
  width: 80%;
}

.btns-primary {
  /* width: max-content; */
  display: inline-block;
  color: var(--white);
  background: var(--charcoal);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  
}



@media (max-width: 720px) {
  .eligibility-form {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 450px) {
  .contact-title { --fs-2: 32px; }

  .contact-banner {
    max-width: 300px;
    margin-inline: auto;
  }
}

@media (min-width: 1024px) {
  .contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .contact-content { max-width: 400px; }

  .contact-title { text-align: left; }

  .contact-form { width: 50%; }

}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--gray);
  padding-block: 60px 100px;
  color: var(--raisin-black);
}

.footer-brand .footer-text { margin-block: 20px; }

.footer .social-list { color: var(--royal-blue); }

.footer-list-title {
  color: var(--raisin-black);
  margin-block-end: 16px;
}

.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible) { 
  color: var(--violet-blue-crayola); 
  
}



.input-wrapper {
  position: relative;
  margin-block-start: 25px;
}

.input-field {
  background-color: var(--white_a3);
  color: var(--light-gray);
  font-size: var(--fs-7);
  padding: 12px 16px;
  border: 1px solid var(--dark-cornflower-blue_a7);
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-3);
  outline: none;
}

.input-field::placeholder { color: inherit; }

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 var(--radius-6) var(--radius-6) 0;
  background-color: var(--violet-blue-crayola);
  color: var(--white);
  padding-inline: 24px;
  font-weight: var(--fw-700);
}


/*-----------------------------------*\
  Visa page
\*-----------------------------------*/



.visa-header {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 5rem;
}

.topper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.left h2 {
  font-size: 4rem;
}

.right h2 {
  font-size: 4rem;
}

.left p {
  font-size: 2rem;
}

.right p {
  font-size: 2rem;
}

.right img {
  border-radius: 1rem;
  height: 80%;
}

 @media (max-width: 990px) {
  .topper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
  }

  .left h2 {
    font-size: 3rem;
  }
  
  .right h2 {
    font-size: 3rem;
  }
  
  .left p {
    font-size: 1.5rem;
    margin: 1.5rem;
  }
  
  .right p {
    font-size: 1.5rem;
    margin: 1.5rem;
  }


} 

/*-----------------------------------*\
  #ALL STYLING FOR BLOGS
\*-----------------------------------*/

.blogs-container .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blogs-container .h2 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.blog {
  border-radius: 0.5rem;
}

.blog-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.blog-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.non {
  margin-top: 1.5rem;
}

.botre {
  color: var(--black-coral);
  font-weight: bold;
}

@media screen and (max-width:980px){
  .blogs-container .blogs {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:680px){
  .blogs-container .blogs {
    grid-template-columns: 1fr;
  }
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * PROJECTS
   */

  .project-card .card-content { padding: 40px; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * HEADER
   */

  .header .btn {
    display: block;
    margin-inline-start: auto;
    padding: 8px 20px;
  }

  .header.active .btn {
    background-color: var(--violet-blue-crayola);
    border-color: var(--violet-blue-crayola);
    color: var(--white);
  }



  /**
   * HERO
   */

  .hero-content {
    max-width: 85%;
    margin-inline: auto;
  }

  .hero-text { --fs-5: 2rem; }



  /**
   * SERVICE
   */

  .service .section-title {
    max-width: 30ch;
    margin-inline: auto;
  }



  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
  }



  /**
   * FEATURE
   */

  .feature .container {
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
  }

  .feature-banner { order: 1; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }



  /**
   * HEADER
   */

  .nav-open-btn,
  .navbar > *:not(.navbar-list),
  .overlay { display: none; }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
    margin-inline: auto 24px;
  }

  .navbar-list {
    display: flex;
    gap: 30px;
  }

  .navbar-link {
    color: var(--white);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) { opacity: 0.7; }

  .header.active .navbar-link { color: var(--charcoal); }

  .header.active .navbar-link:is(:hover, :focus-visible) {
    opacity: 1;
    color: var(--violet-blue-crayola);
  }

  .header .btn { margin-inline-start: 0; }



  /**
   * HERO
   */

  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: left;
  }

  .hero .container {
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
  }

  .hero-content {
    max-width: unset;
    margin-inline: 0;
  }

  .btn-wrapper { justify-content: flex-start; }



  /**
   * STATS
   */

  .stats-card { grid-template-columns: repeat(4, 1fr); }



  /**
   * PROJECT
   */

  .project .section-title {
    max-width: 32ch;
    margin-inline: auto;
  }



  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta .btn { min-width: max-content; }

  .cta .section-title {
    max-width: 30ch;
    margin-block-end: 0;
  }



  /**
   * FOOTER
   */

  .footer .grid-list { grid-template-columns: repeat(4, 1fr); }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }



  /**
   * HERO
   */

  .hero-text { padding-inline-end: 100px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * STATS
   */

  .stats .container { max-width: 70%; }

  .stats-card { padding: 60px; }



  /**
   * PROJECT
   */

  .project .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * FOOTER
   */

  address.footer-text {
    padding-inline-end: 100px;
    margin-block-end: 16px;
  }

}





/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1320px; }

  

  /**
   * FEATURE
   */

  .feature-list { grid-template-columns: 1fr 1fr; }

}